@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    animation: myfades 2s;
}

.loader {
    width: 64px;
    height: 48px;
    position: relative;
    animation: split 1s ease-in infinite alternate;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translateX(-10px);
    background: #3f37c9;
    opacity: 0.75;
    backdrop-filter: blur(20px);
}

.loader::after {
    left: auto;
    right: 0;
    background: #FFF;
    transform: translateX(10px);
}

@keyframes split {

    0%,
    25% {
        width: 64px
    }

    100% {
        width: 148px
    }
}


@keyframes myfades {

    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }

}

.post {
    animation: newfade 2s;
}

@keyframes newfade {
    from {
        opacity: 0.4;
        margin-top: -2rem;
    }

    to {
        opacity: 1;
        margin-top: 2rem;
    }
}


@media(max-width:420px) {
    .text-area {
        width: 16rem;
        height: 120px;
        margin-left: -1rem;
        border-radius: 10px;
        padding: 10px;
    }

    .post-btn {
        width: 100px;
        height: 50px;
        margin-left: 13rem;
    }



    .delete-icon {
        margin-right: 3rem;
    }


    .about-description {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        font-size: 16px;
    }

    .auth-login-form {
        margin-right: 2rem;
        width: 100%;

    }

    .inputs-login-container {
        padding-left: -4rem;
    }

    .forgotten-password {
        padding-left: 3.5rem;
    }

    .inputs-account-container {
        padding-left: 1.1rem;
    }

}

@media(max-width:600px) {

    .example-text {
        margin-left: -1rem;
    }

    .post-description {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .time {
        margin-left: 1rem;
    }

    .welcome-post {

        margin-bottom: 6rem;
    }

    .text-area {

        margin-left: -0.1rem;
        border-radius: 10px;
        padding: 10px;
    }

    .post-btn {
        width: 120px;
        height: 50px;
        margin-left: 13rem;
    }

}

@media only screen and (min-width:1024px) {
    .text-area {
        width: 45rem;
        height: 120px;
        margin-left: 12rem;
        border-radius: 10px;
        padding: 10px;
    }

    .post-btn {
        width: 200px;
        height: 80px;
        margin-left: 49rem;
    }

    .post-div {
        width: 80%;
        height: auto;
        margin-left: 10rem;
        border-radius: 15px;
        margin-top: 6rem;
    }

    .welcome-post {
        width: 80%;
        height: 16rem;
        margin-left: 10rem;
        border-radius: 15px;
        margin-top: 6rem;
    }

    .delete-icon {
        margin-left: 62rem;
    }

    .example-text {
        margin-left: 5rem;
    }

    .post-description {
        margin-left: 18rem;
    }

    .time {
        margin-left: 45.5rem;
    }

    .nav-icon {
        display: none;
    }

    .navs {
        display: flex;
        flex-direction: row;
        margin-top: 0.2rem;
        width: 100%;
    }

    .nav-items {
        padding-left: 16rem;
        margin-top: -3rem;
    }

    .desktop-nav-container {
        margin-left: 26rem;
        color: white;

    }

    .header {
        font-size: 20px;
        font-weight: 700;
    }

    .form {
        width: 70%;
        margin-top: 6rem;
        margin-left: 10rem;
    }

    .form-item-container {
        margin-left: 14rem;
    }

    .about-container {
        width: 80%;
        margin-left: 8rem;
        margin-top: 4rem;
        height: 430px;
    }

    .about-description {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 5rem;
        font-size: x-large;
    }

    .explore-btn {
        width: 300px;
        height: 70px;
        margin-left: 26rem;
        margin-top: 4rem;
    }

    .input {
        width: 400px;
    }

    .menu-icon {
        margin-left: rem;
    }

    .auth-form {
        width: 30%;

    }

    .auth-login-form {
        width: 30%;
        margin-top: 8rem;
        margin-left: 25rem;
    }

    .account-heading {
        margin-left: 1rem;
    }

    .create-account {
        margin-left: 3.5rem;
    }

    .radios {
        padding-left: 3.5rem;
    }

    .inputs-container {
        margin-left: 7rem;
    }

    .inputs-login-container {
        margin-left: 7rem;
    }

    .login-heading {
        margin-left: 11rem;
    }

    .forgotten-password {
        margin-left: 1.6rem;
    }

    .post-icons {
        padding-left: 12rem;
        gap: 22rem;
        margin-top: 4rem;
    }

    .contact-container {
        margin-left: 20rem;
        justify-content: center;
        height: 500px;
        width: 50%;
    }

    .contact-input {
        width: 400px;
    }

    .send-btn {
        width: 400px;
        height: 55px;
    }

    .footer {
        padding-left: 37rem;
        height: 80px;
        padding-top: 1.5rem;
    }
}