@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    animation: myfades 2s;
}

@keyframes myfades {

    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }

}

.post {
    animation: newfade 2s;
}

@keyframes newfade {
    from {
        opacity: 0.4;
        margin-top: -2rem;
    }

    to {
        opacity: 1;
        margin-top: 2rem;
    }
}
   
   
@media(max-width:420px){
    .text-area {
    width: 16rem;
    height: 120px;
    margin-left: -1rem;
    border-radius: 10px;
    padding: 10px;
}
.post-btn {
    width: 100px;
    height: 50px;
    margin-left: 13rem;
}

.nav-icon-icon{
    display: block;
    width: 30px;
    margin-left: -2rem;
}


.delete-icon {
    margin-right: 3rem;
}

.about-container {
    width: 80%;
    margin-left: 2rem;
    margin-top: 4rem;
}
.about-description {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    font-size: 16px;
}
.explore-btn {
    width: 120px;
    height: 50px;
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.send-btn{
    margin-left: 3.8rem;
    width:250px;
    height: 50px;
}

.auth-login-form{
    margin-right: 2rem;
    width: 100%;
    
}

.inputs-login-container{
    padding-left: -4rem;
}

.forgotten-password{
    padding-left: 3.5rem;
}

.create-account{
    padding-left: 7rem;
}

}

@media(max-width:600px){
   
    .nav-icon-icon{
       margin-left: -0.5rem; 
    }
   .example-text {
    margin-left: -1rem;
}
.post-description {
    margin-left: 3rem;
    margin-right: 3rem;
}
   .time{
    margin-left: 1rem;
   }
   .welcome-post {

    margin-bottom: 6rem;
}

.text-area {
    
    margin-left: -0.1rem;
    border-radius: 10px;
    padding: 10px;
}
.post-btn {
    width: 120px;
    height: 50px;
    margin-left: 13rem;
}

.inputs-login-container{
    margin-left: 4.5rem;
}
.account-heading{
    margin-top: 2rem;
    margin-left: 4.5rem;
}
.create-account{
    margin-left: -0.1rem;
}
.login-heading{
    margin-left:8rem;
}
.auth-login-form{
    margin-left: 1rem;
}

}

@media only screen and (min-width:1024px) {
    .text-area {
        width: 45rem;
        height: 120px;
        margin-left: 12rem;
        border-radius: 10px;
        padding: 10px;
    }

    .post-btn {
        width: 200px;
        height: 80px;
        margin-left: 49rem;
    }

    .post-div {
        width: 80%;
        height: 16rem;
        margin-left: 10rem;
        border-radius: 15px;
        margin-top: 6rem;
    }

    .welcome-post {
        width: 80%;
        height: 16rem;
        margin-left: 10rem;
        border-radius: 15px;
        margin-top: 6rem;
    }

    .delete-icon {
        margin-left: 52rem;
    }

    .example-text {
        margin-left: 18rem;
    }

    .post-description {
        margin-left: 18rem;
    }

    .time {
        margin-left: 33.5rem;
    }

    .nav-icon {
        display: none;
    }

    .navs {
        display: flex;
        flex-direction: row;
        margin-top: 0.2rem;
        width:100%;
    }

    .nav-items {
        padding-left: 12rem;
        margin-top: -3rem;
    }

    .desktop-nav-container {
        margin-left: 26rem;
        color: white;
        
    }

    .header {
        font-size: 20px;
        font-weight: 700;
    }

    .form {
        width: 70%;
        margin-top: 6rem;
        margin-left: 10rem;
    }

    .form-item-container {
        margin-left: 14rem;
    }

    .about-container {
        width: 80%;
        margin-left: 8rem;
        margin-top: 4rem;
    }

    .about-description {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 5rem;
        font-size: x-large;
    }

    .explore-btn {
        width: 200px;
        height: 50px;
        margin-left: 24rem;
        margin-top: 4rem;
    }

    .input{
        width: 400px;
    }

    .delete-icon {
        margin-left: rem;
    }
    .auth-form{
        width: 30%;
        margin-top: 8rem;
        margin-left: 30rem;
    }

    .auth-login-form{
        width: 30%;
        margin-top: 8rem;
        margin-left: 25rem;
    }
    .inputs-container{
        margin-left: 7rem;
    }
    .inputs-login-container{
        margin-left: 7rem;
    }
    .account-heading{
        margin-top: 2rem;
        margin-left: 8rem;
    }
    .create-account{
        margin-left: 3.5rem;
    }
    .login-heading{
        margin-left:11rem;
    }
    .forgotten-password{
        margin-left:1.6rem;
    }
}

@media (min-width:760px) and (max-width: 900px){

    .text-area {
        width: 35rem;
        height: 120px;
        margin-left: 4rem;
        border-radius: 10px;
        padding: 10px;
    }
    .post-btn {
        width: 200px;
        height: 60px;
        margin-left: 31rem;
    }
    .post-div {
        width: 80%;
        height: 16rem;
        margin-left: 6rem;
        border-radius: 15px;
        margin-top: 6rem;
    }
    .welcome-post {
        width: 80%;
        height: 16rem;
        margin-left: 6rem;
        border-radius: 15px;
        margin-top: 6rem;
    }
    .delete-icon {
        margin-left: 34rem;
    }
    .example-text {
        margin-left: 10rem;
    }
    .post-description {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .time {
        margin-left: 17rem;
        margin-top: 2rem;
    }
    .nav-icon {
        display: none;
    }
    .navs {
        display: flex;
        flex-direction: row;
        margin-top: 0.2rem;
        width:100%;
    }
    .nav-items {
        padding-left: 3rem;
        margin-top: -3rem;
    }
    .desktop-nav-container {
        margin-left: 26rem;
        color: white;
        
    }
    .header {
        font-size: 20px;
        font-weight: 700;
    }
    .form {
        width: 70%;
        margin-top: 6rem;
        margin-left: 10rem;
        height: 40rem;
    }
    .form-item-container {
        margin-left: 5rem;
        margin-top: 6rem;
    }
    .about-container {
        width: 80%;
        margin-left: 5rem;
        margin-top: 4rem;
        height: 40rem;
    }
    .about-description {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 5rem;
        font-size: x-large;
    }
    .explore-btn {
        width: 200px;
        height: 70px;
        margin-left: 14rem;
        margin-top: 4rem;
    }
    .input{
        width: 300px;
    }   
    
    .send-btn{
        margin-left: 3.8rem;
        width: 300px;
        height: 60px;
    }
}